/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Sulphur+Point&&display=swap');
@import url('https://unpkg.com/graphiql/graphiql.min.css');
/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #1e1e1e;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-color-secondary: #33658a;
    --ifm-code-font-size: 95%;
    --ifm-navbar-link-color: #f26419;
    --ifm-navbar-height: 100px;
    --ifm-menu-color-background-active: #97c5e2;
    --ifm-menu-color: #33658a;
    --ifm-font-family-base: 'Open Sans', sans-serif;
    --ifm-heading-font-family: 'Sulphur Point', sans-serif;
    --ifm-link-color: #33658a;
    --ifm-heading-color: #33658a;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}

body {
}
.navbar__logo {
    height: 40px;
    padding-left: 20px;
}
.hero h1 {
    color: #f6ae2d !important;
    font-weight: 400;
    size: 50px;
    line-height: 45px;
}
.floating-box {
    padding: 40px;
    border-radius: 20px;
    background-color: white;
}
.split-color {
    padding: 40px 0;
    background: linear-gradient(180deg, rgba(30, 30, 30, 1) 50%, rgba(245, 246, 247, 1) 50%);
}
.theme-doc-sidebar-item-link-level-2 {
    border-left: solid 3px #c6c6c6;
    margin: 0 0 -4px 0;
}
.button.button--secondary {
    color: white;
}

.buttons_src-pages-index-module {
    margin-top: 40px;
    display: block !important;
}
.theme-doc-sidebar-item-link-level-1 > a,
.menu__list-item-collapsible > a {
    font-weight: 600 !important;
    text-transform: capitalize;
}
.menu__link {
    border-radius: 0 !important;
}
.homepage-left-list {
    padding: 40px 0;
    list-style-image: url('/img/list-icon.svg');
}
.homepage-left-list > ul > li {
    margin: 20px 0;
}
.homepage-list-highlight {
    background: #303030;
    border-radius: 49px;
    padding: 40px;
    list-style-image: url('/img/list-icon.svg');
}
.homepage-list-highlight > ul > li {
    margin: 20px 0;
}
.footer {
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-icon {
    margin-left: -13px;
}
.footer::after {
    content: '';
    width: 100%;
    height: 40px;
    background-size: 100%;
    background-color: red;
    display: block;
    position: absolute;
    left: 0;
    background-image: url('/img/footer.svg');
    margin-top: 30px;
}
@media screen and (max-width: 966px) {
    .header-image {
        margin-top: 50px;
        margin-bottom: -80px;
    }
    .buttons_src-pages-index-module {
        text-align: center;
    }
    .homepage-list-highlight {
        border-radius: 0px;
        padding: 0px;
        background: none;
    }
    .floating-box {
        margin: 0 20px;
    }
    .footer__links {
        text-align: center;
    }
    .footer__col:nth-of-type(2n) {
        display: none;
    }
}
.graphiql-container {
    height: 500px;
    margin-bottom: 15px;
}
